.user-chat-popup-card {
  position: fixed;
  bottom: 2vh;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;

  cursor: pointer;
}

.slide-in-right {
  animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.user-preview-circle-chat {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}

.board {
  background-color: #4e8cff !important;
}
.private {
  background-color: rgb(239, 96, 125) !important;
}

.heartbeat:hover {
  animation: heartbeat 1.5s ease-in-out infinite both;
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.sc-closed-icon {
  z-index: 10000;
}

.react-datepicker-ignore-onclickoutside {
  z-index: 9;
}
