.task-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-opts {
  display: flex;
  /* position: fixed;
  right: 5vw;
  top: 20vh; */
  margin: 0 auto;
  width: 24vw;
  justify-content: space-evenly;
  /* margin-top: 0.8vw; */
  padding: 10px;
  border-bottom: 1px solid rgba(51, 48, 236, 0.219);
}
.info-box-main-content h3 {
  color: rgba(11, 2, 49, 0.342);
}
.opt-select {
  /* border-bottom: 0.5px solid rgba(83, 83, 83, 0.671); */
  margin-right: 15px;
  cursor: pointer;
  text-align: center;
}

.opt-select .opt-select:hover {
}
