.signup-form-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10;
  background-color: rgb(224, 224, 224);
}

.signup-form {
  position: fixed;
  width: 30vw;
  left: 35vw;
  top: 20vh;
  height: 50vh;
}

/* .signup-form h3 {
  margin-top: -50px;
  margin-bottom: 80px;
  font-size: 30px;
  color: white;
} */
/* .signup-form input {
  background-color: rgba(209, 201, 201, 0.274);
  font-size: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding-left: 20px;
} */

.signup-form input:focus {
  box-shadow: 0px 0px 19px 5px rgba(224, 222, 224, 0.11);
}

/* .signup-form input::placeholder {
  color: #b8c1d49c;
} */
/* .signup-form button {
  background-color: #3ab9f8c4;
  font-size: 20px;
  margin-bottom: 50px;
  border: none;
  padding: 10px 80px;
  border-radius: 15px;
  color: white;
  transition: 0.3s;
  outline: none;
} */
/* 
.signup-form button:hover {
  background-color: #54bbee;
} */

/* .signup-btn {
  margin-bottom: 20px;
} */

#root
  > div
  > section
  > div.signup-form-container
  > form
  > button:nth-child(11) {
  display: inline-block;
  background: white;
  color: #444;
  width: 190px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
  cursor: pointer;
}

.get-started-facebook-btn {
  width: 15vw;
  /* height: 5vh; */
  margin-top: 15px;
  font-size: 25px;
  /* background-color: #1092f4; */

  border: none;
  color: rgba(29, 28, 28, 0.678);
  border-radius: 20px;
  padding: 10px 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
}

.get-started-facebook-btn:hover {
  color: rgb(27, 26, 26);
}
.facebook-home {
  right: 0;
  top: 0;
  /* margin-right: 10px; */
  position: fixed;
  /* margin-top: 10px; */
}

.facebook-login {
  width: 20vw;
  /* height: 5vh; */
  margin-top: 20px;
  font-size: 16px;
  /* background-color: #1092f4; */
  border: none;
  color: rgb(24, 23, 23);
  border-radius: 10px;
  padding: 10px 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
}

#root
  > div
  > section
  > div.signup-form-container
  > form
  > div.facebook-login
  > button {
  cursor: pointer;

  background-color: transparent;
  font-size: 15px;
  border: 0;
  color: rgb(15, 14, 14);
}
